a {color:"#F27900"; text-decoration:"none";}
a:hover {color:"#F27900"; text-decoration:"underline";}
input {BACKGROUND-COLOR:"#0E96A9"; FONT-FAMILY:"verdana"; color:"white"; FONT-SIZE:"11px";}
select {BACKGROUND-COLOR:"#0E96A9"; FONT-FAMILY:"verdana"; color:"white"; FONT-SIZE:"11px";}