a {color:"#CC3300"; text-decoration:"none";}
a:hover {color:"#006699"; text-decoration:"none";}
input {BACKGROUND-COLOR:"#006699"; FONT-FAMILY:"verdana"; color:"white"; FONT-SIZE:"11px";}
select {BACKGROUND-COLOR:"#006699"; FONT-FAMILY:"verdana"; color:"white"; FONT-SIZE:"11px";}
textarea {BACKGROUND-COLOR:"#006699"; FONT-FAMILY:"verdana"; color:"white"; FONT-SIZE:"11px";}